.photoCard {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 400px;
  text-align: left;
  margin: 0 auto;

  &:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }

  img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block;
  }
  .index {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 10px;
  }

  .details {
    position: relative;
  }
}

@media only screen and (min-width: 700px) {
  .photoCard {
    max-width: 300px;
  }
}

@media only screen and (max-width: 568px) {
  .photoCard {
    max-width: 200px;
  }
}

@media only screen and (min-width: 900px) {
  .photoCard {
    max-width: 400px;
  }
}
